body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-option {
  margin-right: 20px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.nav a:hover {
  color: #ffd700; /* Koh Lanta gold color */
}

.character-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.character-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  width: 200px;
  text-align: center;
}

.character-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.character-details h2 {
  margin: 0;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #ff4500; /* Koh Lanta orange color */
}
